New Application For Admission


Personal Details:
First Name: {{firstName}}  Last Name: {{lastName}} Middle Name: {{middleName}}
Aadhaar: {{aadhaar}}
Martial: {{martial}}
Mobile No: {{mobile}}
Email: {{Email}}

Father's Name: {{fatherName}}
Mother's Name: {{motherName}}
Employment: {{employment}}
Annual Income: {{annualIncome}}
Any Other UNI: {{anyotheruni}}

Address Details:
Address: {{address}}
Pin Code: {{pincode}}
Category: {{category}}
Minority: {{minority}}
State: {{state}}
City: {{city}}
Date of Birth: {{dob}}
Nationality: {{nationality}}

Payingguest: {{pawingguest}}
Transport: {{transport}}

Subjects:
Elective 1: {{elective1}}
Elective 2: {{elective2}}
Elective 3: {{elective3}}

Preference 1: {{preference1}}
Preference 2: {{preference2}}
Preference 3: {{preference3}}

Result 1: {{result1}} Full Marks: {{fullmarks1}}  Marks obtained 1: {{markObtained1}}  Grade 1: {{grade1}}
Resutl 2: {{result2}} Full Marks: {{fullmarks2}}  Marks obtained 2: {{markObtained2}}  Grade 2: {{grade2}}
Result 3: {{result3}} Full Marks: {{fullmarks3}}  Marks obtained 3 : {{markObtained3}}  Grade 3: {{grade3}}
Result 4: {{result4}} Full Marks: {{fullmarks4}}  Marks obtained 4 :{{markObtained4}}  Grade 4: {{grade4}}
Result 5: {{result5}} Full Marks: {{fullmarks5}}  Marks obtained 5 :{{markObtained5}}  Grade 5: {{grade5}}
Result 6: {{result6}} Full Marks: {{fullmarks6}}  Marks obtained 6 : {{markObtained6}}  Grade 6: {{grade6}}


Total Percentage: {{percentage}}

Aadhaar image: {{aadhaar_img}}
Mark sheet: {{marksheet_img}}
Profile Image: {{profile_img}}



