{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <title>Payments Status</title>
</head>
<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Payment ID</th>
                <th>Status</th>
                

            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr class="active-row">
                
           
            <td>{{payment.id}}</td>
            <td>{{payment.order_product}}</td>
            <td>{{payment.order_date}}</td>
            <td>{{payment.order_amount}}</td>
            <td>{{payment.order_payment_id}}</td>
            <td>{{payment.isPaid}}</td>

          
        

            </tr>
            {% endfor %}
            <!-- and so on... -->
        </tbody>
    </table>
</body>
</html>







